<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="Homework 19">
        <classes>
            <class name="Homework19"/>
        </classes>
    </test>
</suite>

<!--<class name="RegistrationTests"/>-->
<!--<class name="ChangeUsernameTests"/>-->
