<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="LoginTests" preserve-order="false">
        <classes>
            <class name="LoginTestsF">
<!--                <methods>-->
<!--                    <include name="LoginValidEmailValidPasswordTest" />-->
<!--                </methods>-->
            </class>
<!--            <class name="KoelLogin">-->
<!--                &lt;!&ndash;                <methods>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <include name="LoginValidEmailValidPasswordTest" />&ndash;&gt;-->
<!--                &lt;!&ndash;                </methods>&ndash;&gt;-->
<!--            </class>-->
        </classes>
    </test>
</suite>

<!--<class name="RegistrationTests"/>-->
<!--<class name="ChangeUsernameTests"/>-->
